{% extends 'base.html' %}

{% block body %}

{% if shows %}

<div class="container">
    <div class="row">
    {% for show in shows %}
    
        <div class="col-3 p-2 my-4">
            {% if show.image_url %}
            <img src="{{show.image_url}}" class = "pic">

            {% else %}
            <img src="http://static.tvmaze.com/images/no-img/no-img-portrait-text.png" class="pic">
            {% endif %}
            <div><a href="{{url_for('show_page', show_id = show.id)}}" >{{show.title}}</a></div>

            {% if user.id == session.user_id %}
            <div><a href="{{url_for('unlikes_show', show_id = show.id)}}" class="btn btn-primary">Unlike</a></div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>

{% endif %}

{% endblock %}